body{
     background-color: darkcyan;
}

/* This is the container of the hamburger icon, the true after and
before  elements (1st and 2nd bars) , but it is not seen. it is invisible.*/
.hamburger{
     width: 50px;          /*the width of the icon bar*/
     position: absolute;              /*the position of the icon*/
     top: 30%;
     left: 30%;
}

/* ************************
CREATING THE THREE BARS
************************ */
.hamburger::before,
.hamburger::after,
.hamburger div{
     height: 5px;           /*the height of the icon bar*/
     margin: 7px 0px;    /*the distance between the two neighbouring bars*/

     content: '';               /*these two properties are for creating the 1st and 2nd bar*/
     display: block;       /*without them the after and before bar has no exixtance*/

     background-color: green;
     border-radius: 3px;          /*to make the bars corner-less*/
     transition: 0.3s;
}


/* ************************
ANIMATING THE THREE BARS
************************ */
.hamburger:hover::before{
     transform: translateY(12px) rotate(-135deg);
     /*here the translateY takes HEIGHT + MARGIN */
}

.hamburger:hover::after{
     transform: translateY(-12px) rotate(135deg);
     /*here the translateY takes HEIGHT + MARGIN */
}

.hamburger:hover div{
     transform: scale(0);
     /*here it is vanished*/
}
