@import '../../variables';





textarea.myUpdateProfileAbout {  
  height: 360px;
  padding: 20px;  
}


#myUpdateProfilePage {        
  
  #myUpdateProfilePage .myProfileInfoHolder {        
    margin-bottom: 0;
   
    .myProfileInfoAnswer input {
      font-size: 100%;
    }
  
  }
  

    
 
}

